<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h2>Login Here</h2>
    <form method="post">
        {% csrf_token %}
        <p>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </p>
        <p>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </p>
        <button type="submit">Login</button>
    </form>




    <p>Don't have an account? <a href="{% url 'signup' %}">Sign up here</a></p>
</body>
</html>